@page "/back/editarticle/{Id:int}"
@layout BackMainLayout
@using JandC.Data
@inject ArticleService  ArticleService
@inject IUriHelper UriHelper

<h2>编辑文章</h2>
<div class="row">
    <div class="form-group">
        <label for="exampleInputEmail1">标题</label>
        <input type="email" class="form-control" bind="@article.Title" aria-describedby="emailHelp" placeholder="Enter email" />
    </div>
</div>
<div class="row">
    <div class="form-group" style="width:200px;">
        <label for="exampleInputEmail1">内容</label>
        <textarea type="email" class="form-control" rows="10" cols="20" bind="@article.Content" aria-describedby="emailHelp" placeholder="Enter email" />
    </div>
</div>
<div class="row">
    <button class="btn btn-success" onclick="@Sava">修改</button>
</div>

@functions {
    [Parameter]
    private int Id
    {
        get; set;
    }

    ArticleModel article;
    protected override async Task OnInitAsync()
    {

        article = await ArticleService.GetArticleAsync(Id);
    }
    async Task Sava()
    {
        await ArticleService.EditAsync(article);
        UriHelper.NavigateTo("/back/articles");
    }
}
